*,
*::after,
*::before {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

html {
	scroll-behavior: smooth;
	font-size: 62.5%;
}

a {
	text-decoration: none;
}

input,
button,
textarea,
select {
	font-family: inherit;
}

.off {
	display: none;
}

header {
	width: 100vw;
	height: 100vh;
	position: relative;
	background-image: url('../images/mobile/image-header.jpg');
	background-size: cover;
	background-position-x: center;
	background-position-y: bottom;
	.header-arrow-down {
		position: absolute;
		bottom: 15%;
		left: 50%;
	}
	.bounce {
		animation: arrow-bounce 1500ms linear infinite;
	}
	.nav-mobile-button {
		position: absolute;
		top: 25px;
		right: 25px;
		padding: 5px;
		border: none;
		background: none;
		cursor: pointer;
		img {
			width: 28px;
		}
	}
	h1 {
		position: absolute;
		top: 30%;
		left: 50%;
		transform: translate(-50%, -50%);
		text-transform: uppercase;
		color: white;
		font-family: 'Fraunces', serif;
		font-size: 42px;
		font-weight: 900;
		letter-spacing: 6px;
		text-align: center;
	}
	p {
		padding: 25px 15px;
		color: white;
		font-family: 'Cabin', sans-serif;
		font-weight: 700;
		font-size: 32px;
	}
}

.first {
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: 1fr 1.25fr 1fr 1.25fr 2fr 2fr;
	.first-img {
		width: 100vw;
		height: 100vw;
		background-position: center;
		background-size: cover;
	}
	.first-img-one {
		background-image: url('../images/mobile/image-transform.jpg');
		grid-row: 1/2;
	}
	.first-text-one {
		grid-row: 2/3;
	}
	.first-text-two {
		grid-row: 4/5;
	}
	.first-img-two {
		background-image: url('../images/mobile/image-stand-out.jpg');
		grid-row: 3/4;
	}
	.first-text {
		display: flex;
		flex-direction: column;
		justify-content: space-around;
		align-items: center;
		text-align: center;
		h2 {
			margin: 20px 25px 0 25px;
			font-family: 'Fraunces', serif;
			font-weight: 900;
			font-size: 36px;
		}
		p {
			padding: 25px;
			font-family: 'Barlow', sans-serif;
			font-weight: 600;
			font-size: 18px;
			color: hsl(232, 10%, 55%);
			line-height: 30px;
		}
		a {
			margin-bottom: 35px;
			position: relative;
			text-decoration: none;
			text-transform: uppercase;
			font-family: 'Fraunces', serif;
			font-weight: 900;
			font-size: 18px;
			color: black;
			z-index: 1;
			cursor: pointer;
		}
		a::before {
			position: absolute;
			width: 110%;
			left: -5%;
			bottom: 0;
			height: 35%;
			content: ' ';
			background-color: hsl(51, 100%, 78%);
			border-radius: 5px;
			z-index: -10;
			transition: background-color 0.5s;
		}
		a:hover::before,
		a:focus::before {
			background-color: hsl(51, 100%, 49%);
		}
	}
	.hover-red {
		a:hover::before,
		a:focus::before {
			background-color: hsl(7, 99%, 70%);
		}
	}

	.first-img-inner-text {
		display: flex;
		flex-direction: column;
		justify-content: flex-end;
		align-content: center;
		width: 100vw;
		height: 200vw;
		background-position: center;
		background-size: cover;
		h2 {
			margin: 20px 25px 15px 25px;
			font-family: 'Fraunces', serif;
			font-weight: 900;
			font-size: 32px;
			text-transform: capitalize;
			text-align: center;
		}
		p {
			margin-bottom: 35px;
			padding: 25px;
			font-family: 'Barlow', sans-serif;
			font-weight: 700;
			font-size: 16px;
			line-height: 25px;
			text-align: center;
		}
	}
	.cherry-img {
		background-image: url('../images/mobile/image-graphic-design.jpg');
		color: hsl(167, 40%, 24%);
		grid-row: 5/6;
	}
	.orange-img {
		background-image: url('../images/mobile/image-photography.jpg');
		color: hsl(198, 62%, 26%);
		grid-row: 6/7;
	}
}

@keyframes arrow-bounce {
	0% {
		transform: translate(-50%, -50%);
	}
	50% {
		transform: translate(-50%, -60%);
	}
	100% {
		transform: translate(-50%, -50%);
	}
}
