@import 'reset';

.off {
	display: none;
}

header {
	width: 100vw;
	height: 100vh;
	position: relative;
	background-image: url('../images/mobile/image-header.jpg');
	background-size: cover;
	background-position-x: center;
	background-position-y: bottom;
	.header-arrow-down {
		position: absolute;
		bottom: 15%;
		left: 50%;
	}
	.bounce {
		animation: arrow-bounce 1500ms linear infinite;
	}
	.nav-mobile-button {
		position: absolute;
		top: 25px;
		right: 25px;
		padding: 5px;
		border: none;
		background: none;
		z-index: 1000;
		cursor: pointer;
		img {
			width: 28px;
		}
	}
	h1 {
		position: absolute;
		top: 30%;
		left: 50%;
		transform: translate(-50%, -50%);
		text-transform: uppercase;
		color: white;
		font-family: 'Fraunces', serif;
		font-size: 42px;
		font-weight: 900;
		letter-spacing: 6px;
		text-align: center;
	}
	p {
		padding: 25px 15px;
		color: white;
		font-family: 'Cabin', sans-serif;
		font-weight: 700;
		font-size: 32px;
	}
}

// NAVBAR---NAVBAR

.nav-mobile {
	position: fixed;
	width: calc(100vw - 50px);
	height: calc(100vw - 50px);
	top: 110px;
	left: 25px;

	padding: 30px;
	background-color: white;
	z-index: 100;
	div {
		width: 100%;
		height: 100%;
		display: flex;
		flex-direction: column;
		justify-content: space-around;
	}
}
.nav-mobile::before {
	content: '';
	position: absolute;
	top: -10%;
	right: 0;
	width: 0;
	height: 0;
	border-left: 5vw solid transparent;
	border-top: 5vw solid transparent;
	border-right: 5vw solid white;
	border-bottom: 5vw solid white;
}
.nav-launched {
	animation: launch-mobile-nav 0.5s linear forwards;
}

.navbar-link {
	width: 130px;
	padding: 15px;
	border-radius: 27px;
	font-family: 'Barlow', sans-serif;
	font-weight: 600;
	font-size: 20px;
	text-align: center;
	color: hsl(232, 10%, 55%);
	background-color: transparent;
	cursor: pointer;
	transition: all 0.3s;
}
.navbar-link-mobile {
	margin: 0 auto;
}
.navbar-link-mobile:hover,
.navbar-link-mobile:focus,
.navbar-link-mobile:active {
	background-color: hsl(51, 100%, 49%);
}
.navbar-link-mobile:focus,
.navbar-link-mobile:active {
	color: black;
	font-weight: 700;
}
//MOBILE NAVBAR END

.first {
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: 1fr 1.25fr 1fr 1.25fr 2fr 2fr;
	.first-img {
		width: 100vw;
		height: 100vw;
		background-position: center;
		background-size: cover;
	}
	.first-img-one {
		background-image: url('../images/mobile/image-transform.jpg');
		grid-row: 1/2;
	}
	.first-text-one {
		grid-row: 2/3;
	}
	.first-text-two {
		grid-row: 4/5;
	}
	.first-img-two {
		background-image: url('../images/mobile/image-stand-out.jpg');
		grid-row: 3/4;
	}
	.first-text {
		display: flex;
		flex-direction: column;
		justify-content: space-around;
		align-items: center;
		text-align: center;
		h2 {
			margin: 20px 25px 0 25px;
			font-family: 'Fraunces', serif;
			font-weight: 900;
			font-size: 36px;
		}
		p {
			padding: 25px;
			font-family: 'Barlow', sans-serif;
			font-weight: 600;
			font-size: 18px;
			color: hsl(232, 10%, 55%);
			line-height: 30px;
		}
		a {
			margin-bottom: 35px;
			position: relative;
			text-decoration: none;
			text-transform: uppercase;
			font-family: 'Fraunces', serif;
			font-weight: 900;
			font-size: 18px;
			color: black;
			z-index: 1;
			cursor: pointer;
		}
		a::before {
			position: absolute;
			width: 110%;
			left: -5%;
			bottom: 0;
			height: 35%;
			content: ' ';
			background-color: hsl(51, 100%, 78%);
			border-radius: 5px;
			z-index: -10;
			transition: background-color 0.5s;
		}
		a:hover::before,
		a:focus::before {
			background-color: hsl(51, 100%, 49%);
		}
	}
	.hover-red {
		a:hover::before,
		a:focus::before {
			background-color: hsl(7, 99%, 70%);
		}
	}

	.first-img-inner-text {
		display: flex;
		flex-direction: column;
		justify-content: flex-end;
		align-content: center;
		width: 100vw;
		height: 200vw;
		background-position: center;
		background-size: cover;
		h2 {
			margin: 20px 25px 15px 25px;
			font-family: 'Fraunces', serif;
			font-weight: 900;
			font-size: 32px;
			text-transform: capitalize;
			text-align: center;
		}
		p {
			margin-bottom: 35px;
			padding: 25px;
			font-family: 'Barlow', sans-serif;
			font-weight: 700;
			font-size: 18px;
			line-height: 25px;
			text-align: center;
		}
	}
	.cherry-img {
		background-image: url('../images/mobile/image-graphic-design.jpg');
		color: hsl(167, 40%, 24%);
		grid-row: 5/6;
	}
	.orange-img {
		background-image: url('../images/mobile/image-photography.jpg');
		color: hsl(198, 62%, 26%);
		grid-row: 6/7;
	}
}

.clients {
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	justify-content: flex-start;
	align-content: center;
	h3 {
		margin: 60px 25px 50px 25px;
		text-transform: uppercase;
		text-align: center;
		color: hsla(232, 10%, 55%, 0.671);
		font-family: 'Fraunces', serif;
		font-weight: 900;
		font-size: 18px;
		letter-spacing: 3px;
	}
	.client {
		width: 100%;
		margin: 25px auto;
		.client-pic {
			width: 70px;
			height: 80px;
			margin: 0 auto;
			border-radius: 50%;
			background-position: center;
			background-size: cover;
		}
		.client-pic-one {
			background-image: url('../images/image-emily.jpg');
		}
		.client-pic-two {
			background-image: url('../images/image-thomas.jpg');
		}
		.client-pic-three {
			background-image: url('../images/image-jennie.jpg');
		}
		.clients-text {
			margin-top: 10px;
			margin-bottom: 15px;
			padding: 25px;
			font-family: 'Barlow', sans-serif;
			font-weight: 600;
			font-size: 20px;
			color: hsl(233, 7%, 48%);
			text-align: center;
			line-height: 30px;
		}
		.clients-sign {
			margin-bottom: 15px;
			font-family: 'Fraunces', serif;
			font-weight: 900;
			font-size: 22px;
			text-align: center;
		}
		.clients-function {
			margin-bottom: 25px;
			text-align: center;
			color: hsla(232, 10%, 55%, 0.671);
			font-size: 16px;
			font-family: 'Barlow', sans-serif;
			font-weight: 600;
		}
	}
}

.second {
	width: 100vw;
	height: 100vw;
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-template-rows: 1fr 1fr;
	.second-img {
		background-size: cover;
		background-position: center;
		width: 100%;
		height: 100%;
	}
	.second-one {
		background-image: url('../images/mobile/image-gallery-milkbottles.jpg');
		grid-column: 1/2;
		grid-row: 1/2;
	}
	.second-two {
		background-image: url('../images/mobile/image-gallery-orange.jpg');
		grid-column: 2/3;
		grid-row: 1/2;
	}
	.second-three {
		background-image: url('../images/mobile/image-gallery-cone.jpg');
		grid-column: 1/2;
		grid-row: 2/3;
	}
	.second-four {
		background-image: url('../images/mobile/image-gallery-sugar-cubes.jpg');
		grid-column: 2/3;
		grid-row: 2/3;
	}
}
footer {
	padding-top: 30px;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-content: center;
	width: 100vw;
	height: 100vw;
	color: hsl(168, 34%, 41%);
	background-color: #90d4c5;
	text-align: center;
	.footer-header {
		padding: 35px 15px;
		font-family: 'Barlow', sans-serif;
		font-weight: 900;
		font-size: 42px;
		color: hsl(169, 32%, 30%);
	}
	.footer-links {
		margin: 30px 25px 0 25px;
		height: 100%;
		display: flex;
		justify-content: space-around;
		flex-wrap: wrap;
		a {
			font-family: 'Barlow', sans-serif;
			font-weight: 600;
			font-size: 20px;
			text-decoration: none;
			cursor: pointer;
			color: hsl(168, 34%, 41%);
		}
	}
	.footer-icons {
		display: flex;
		flex: wrap;
		justify-content: center;
		margin-bottom: 75px;
		a {
			text-decoration: none;
			margin: 0 12px;
			cursor: pointer;
		}
	}
}

@keyframes arrow-bounce {
	0% {
		transform: translate(-50%, -50%);
	}
	50% {
		transform: translate(-50%, -60%);
	}
	100% {
		transform: translate(-50%, -50%);
	}
}

@keyframes launch-mobile-nav {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}
